
<div class="row">	
    <div class="span12">        
        <h3 class="explain"><b>Recommendation context:</b></h3>
        <ul class="unstyled explain">
            <li><h4><b>Business rule:</b> Suggest other products in relation with the customer shopping cart, in order to increase average items per cart.</li>
            <li><h4><b>Recommendation Strategy:</b> Co-occurrence item based recommendation or basket recommender: Find products that were frequently associated with the content of the current shopping cart.</li>
        </ul>    
    </div><!--Explanation -->
	<div class="span12" ng-show="!isEmpty">
        <h2><b>Cart Summary:</b>  {{cartLength}} article(s): {{totalPrice}} </h2>
		<ul class="thumbnails">
		    <li  class="span3" ng-repeat="(id, product) in products">
		        <img ng-src="http://assets.recolytic.com/demo/shop/media/{{product.id}}.jpg" />
		        <div class="caption">
		            <h4>{{formatTitle(product)}} <b>{{product.price}}</b></h4>
		        </div>
		    </li>
		</ul>
		<a class="btn btn-primary" ng-click="order()">Order</a>
		<a class="btn btn-primary" ng-click="dropCart()">Clear cart</a>
	</div><!--Cart details-->
	<div class="span12" ng-show="isEmpty && !orderPlaced">
		<h2><b>Your cart is empty!</b></h2>
	</div><!--Cart is empty message-->
	<div class="span12" ng-show="isEmpty && orderPlaced"> 
		<h2>Thank you for your order, <b>Order number is: 21289</b></h2>
	</div><!--Checkout-->

    <div class="span12 explain" ng-show="!isEmpty && recommendations.length != 0" >
        <ul class="breadcrumb" style="margin:10px 0px; padding:5px">
            <h2><b>Customers who bought these products, included also these ones:</b></h2>
        </ul>
        <ul class="inline thumbnails" >
            <li ng-repeat="product in recommendations" style="text-align:center; margin-left:0px">
                <div class="span2 text-center" style="margin-left:0px;">
                    <a  ng-click='basketUptake(product.id);' class="thumbnail"> 
                        <img ng-src="{{product.media}}" /> 
                    </a>
                    <div class="caption">
                        <h5>{{product.title}}</h5>
                        <div ng-show="explanationMode">
                            <ul class="unstyled">
                                <li><h4><b>{{product.score}}</b> customers added this product in association<br> with the content of the current shopping cart.</h4></li>
                            </ul>    
                        </div>                               
                    </div>
                </div>
            </li>
        </ul>   
    </div>   <!--recommendation -->	
</div>