@font-face
{
  font-family: segoeuil;
  src: url(segoeuisl.woff);
}  

html, body {
  height: 100%;
}

p, i, a, h4, h3, h2 {
  color: black;
  font-family: segoeuil;
  letter-spacing:0px  
}

h4 {
  font-size: 11px;
  font-weight: 900;
}

h3 {
  font-size: 12px;
  font-weight: 900;
}

h2 {
  font-size: 16px;
  font-weight: 900;  
}

a {
  font-size: 16px;  
  font-weight: 900; 
}

p {
  font-size: 10px;
  font-weight: 700;
}

i {
  font-size: 16px;
}

.logo {
  margin-top:15px;
  margin-bottom:15px
}

.productTheme {
  margin-top: -20px;
}

.productFT {
  margin-top: 20px;
}

.thumbnails .caption{ overflow :hidden; text-overflow:ellipsis; white-space:nowrap; }
